#fc-seacher {

  padding: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;

  form {
    display: flex;
    flex-flow: column;
    justify-content: center;

    label {
      font-size: 22px;
      font-weight: bold;
    }

    #search-input-label {
      text-align: center;
    }
  }

  #fc-cards-container {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  #pagination-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .loader-container {
    height: 100px;
    width: 100px;
    position: relative;
  }

}
