<div id="fc-seacher" class="p-2 p-sm-4">
  <div>
    <form (submit)="search()">
      <label for="search-input" id="search-input-label">Search your Free Company!</label>
      <div class="row ml-0">
        <input id="search-input" class="col-8" type="text" value=""
               placeholder="Free Company Name" [(ngModel)]="searchInput" name="searchInput">
        <button type="submit" class="btn btn-primary ml-3 col-auto">Search</button>
      </div>
      <alert *ngIf="formError" type="danger" [dismissible]="true" (onClosed)="formError = ''">{{formError}}</alert>
    </form>
  </div>

  <div class="row container" *ngIf="paginationResult$ | async as paginationResult;">
      <div class="row" id="fc-cards-container">
        <app-fc-card class="col-md-4 col-sm-6 mb-3" *ngFor="let freeCompany of paginationResult.results"
                     [freeCompany]="freeCompany"></app-fc-card>
      </div>
      <div class="col-xs-12 col-12" id="pagination-container">
        <pagination [totalItems]="paginationResult.pagination.resultsTotal"
                    [itemsPerPage]="paginationResult.pagination.resultsPerPage"
                    [ngModel]="paginationResult.pagination.page"
                    (pageChanged)="pageChanged($event)"></pagination>
      </div>
  </div>
  <div *ngIf="loading" class="loader-container">
    <ngx-spinner size="medium" [fullScreen]="false" color="#000000" bdColor="#ffffff" type="ball-fall">
    </ngx-spinner>
  </div>
</div>


