#fc-seacher {

  padding: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;

  #title {
    text-align: center;
    padding-top: 10px;
  }

  form {
    display: flex;
    flex-flow: column;
    justify-content: center;

    label {
      font-size: 22px;
      font-weight: bold;
    }

    #search-input-label {
      text-align: center;
    }
  }

  #results-container {
    display: flex;
    justify-content: center;

    #fc-cards-container {
      padding-top: 25px;
      padding-bottom: 10px;
    }

    #pagination-container {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .loader-container {
    height: 100px;
    width: 100px;
    position: relative;
  }
}
