<div class="mt-2 mb-2">
  <button type="button" class="btn btn-info btn-sm"
          (click)="toggleSortConfig()">{{showSortConfig ? 'Hide sort config' : 'Change sort order'}}</button>
  <div class="mt-2" *ngIf="showSortConfig">
    <div class="row">
      <label class="col-auto">Sort player: </label>
      <app-radio-button-row class="col-auto" [elements]="playerSortValues"
                            [elementSelected]="sort.playerSort.toString()"
                            (elementSelectedChange)="playerSortChanged($event)"
                            name="player-sort"></app-radio-button-row>
    </div>
    <div class="row">
      <label class="col-auto">Sort items: </label>
      <app-radio-button-row class="col-auto" [elements]="itemSortValues" [elementSelected]="sort.itemSort.toString()"
                            (elementSelectedChange)="itemSortChanged($event)" name="item-sort"></app-radio-button-row>
    </div>
  </div>
</div>
