#fc-name {
  font-weight: bold;
}

#settings-container {
  padding: 10px;

  #search-input {
    margin-left: 10px;
  }

  #item-type {
    padding-left: 25px;

    #mount-type {
      padding-left: 0;
    }
  }
}


#member-list {
  .player-name {
    font-weight: bold;
  }
}

.player-loader {
  height: 100px;
  position: relative;
}
