#fc-name {
  font-weight: bold;
}




#member-list {
  .player-name {
    font-weight: bold;
  }
  .item-quantity {
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
  }
}

.player-loader {
  height: 100px;
  position: relative;
}
