<div>
  <input id="search-input" [(ngModel)]="searchInput" class="form-check-input col-6" type="text" value=""
         placeholder="Search by Name or Mount...">
  {{searchInput}}
  <app-pack-selector class="col-6" (packSelected)="packSelected = $event"></app-pack-selector>
</div>


<div class="col-12" *ngFor="let player  of players$ | async" id="member-list">
  <ng-container *ngIf="player.mounts && player.mounts | async as mounts">
    <ng-container *ngIf="((mounts | searchMounts: searchInput).length > 0 && packSelected) || (player | searchPlayers : searchInput) as result">
      <div class="player-name">{{player.name}}</div>
      <div class="row" *ngIf="!packSelected">
        <div class="col-auto icon-container" *ngFor="let mount of (result? mounts : mounts | searchMounts: searchInput)"
             [tooltip]="mount.name">
          <img [src]="mount.icon">
        </div>
      </div>
      <div class="row" *ngIf="packSelected">
        <ng-container *ngFor="let mount$ of packSelected.mounts$">
          <div *ngIf="(result || ([mount$|async]|searchMounts: searchInput).length > 0) && mount$ | async as mount" class="col-auto icon-container"
               [tooltip]="mount.name">
            <img [src]="mount.icon" [alt]="mount.name" [class.icon-grayed]="!(mount| hasMount: mounts)">
          </div>
        </ng-container>
      </div>
      <br>
    </ng-container>
  </ng-container>
</div>
