#sort-container {
  border: 1px solid black;
  padding: 10px;

  .separator {
    border-bottom: 2px solid #0000005e;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .arrow-icon {
    font-weight: bolder;
    font-size: 20px;
  }
}

